{% extends 'layouts/base.html' %}

{% block title %} Palindrome {% endblock %}

{% block content %}
<div style="height: 80vh;" class="d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-6">
      <h1>Palindrome</h1>
      <p>Palindrom adalah sebuah kata, frasa, angka, atau urutan karakter lainnya yang dapat dibaca sama baik dari depan
        maupun dari belakang. Sebagai contoh, "racecar" dan "level" adalah kata palindrom, sedangkan "hello" dan "world"
        bukan
        palindrom. Palindrom juga bisa lebih panjang, seperti frasa "Ibu ratna antar ubi" atau "Kasur ini rusak", yang
        dibaca
        sama baik dari depan maupun dari belakang jika dihilangkan spasi dan tanda baca. Palindrom bisa terjadi dalam
        bahasa
        apapun dan bisa menjadi cara yang menyenangkan untuk menguji kemampuan bahasa seseorang.</p>
      <a href="/palindromes" class="btn btn-primary">Buat Palindrome</a>
    </div>
    <div class="col-6">
      <img src="https://y.yarn.co/67f9a566-f962-4e3e-b7c3-7505afaace31_text.gif" alt="">
    </div>
  </div>
</div>
{% endblock %}